

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(5, 5, 5);
 
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}
a{
    color: inherit;
}

p {
    color: rgb(7, 7, 7);
}

.inicio1{
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 100px 0;
}

.inicio-titulo{
    font-size: 3rem;
    margin-bottom: 2rem;
    padding: 3rem;
   display: flex;
   justify-content: center;
   
    
}

.parrafo-inicio{
    line-height: 1.8;
    margin-bottom: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.boton{
    background-color: black;
    color: white;
    border-radius: 40px;
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
   margin-bottom: 1rem;
   text-transform: uppercase;
   font-weight: 700;
   margin: 2rem;

}


.titulo_celulares {
    text-align: center;
    font-size: 40px;
    margin-bottom: 2rem;
    text-decoration: underline;
}
.celulares__ {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    text-align: center;
    text-decoration: underline;
}

.celulares_hijo {

 
  width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  
}

.celu_ {
    position: absolute;
    bottom: 0%;
    right: 0%;
    
    
}

.inicio1-terminos{
    font-size: 12px;
    text-align: justify;
    line-height: 1.5;
}
.bloque{
    display: block;
}
.inicio-2{
 background-image: url(..//imagenes/degradado.jpeg);
 padding: 100px 0;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
 
}
.whatsapp {
    background-color: rgb(8, 209, 34);
    color: white;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 40px;
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 2rem;
}
.header{

    background-color: rgba(5, 5, 5, 0.979);
    color: aliceblue;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    
    
}
.nav-lista{
    display: flex;
    list-style: none;
    flex-direction: row;

}

.nav-item{
    margin-left: 2rem;

}
.nav-enlace{
    text-decoration: none;
    padding: 2rem;
}
.img-tienda{
    padding: 2rem;
   
}

.carousel-item img {
    height: 600px;
    object-fit: cover;
}

.container-fluid {
    overflow: hidden;
}

.formulario,.contacto2 {
    padding-top: 100px;
    padding-bottom: 100px;

}

.card__icon {
    background-color: rgb(237, 237, 241);
    color: red;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    position: absolute;
    right: 2rem;
    top: 2rem;
    
}

.card {
    position: relative;
}

.section_tienda {
    margin: 2rem;
    padding: 2rem;
    position: relative;
}

@media (max-width: 1023px) {


    .parrafo-inicio {
        flex-direction: column;
        align-items: center;
        padding: 4rem 2rem;
    }

    .celu_ {
        height:fit-content;
        width: 100%;
        
    }

    .celulares__ {
        display: flex;
        width: 80%;
        flex-direction: row;
        align-items: center;
        
    }

    .celulares_hijo {
        background-color:rgb(166, 200, 231);
     
      width: 0px;
      height: 80px;
      border-radius: 10px;
      padding: 1rem;
      position: relative;
      overflow: hidden;
      flex-direction: column;
    }
    
}

@media ( max-width: 600px) {
    
    
    .parrafo-inicio {
        flex-direction: column;
        align-items: center;
    
}
    

 .imageninicio{
     width: 100%;
     object-fit: cover;
 }

 .inicio-titulo {
     font-size: 3rem;
     
 }

 .header {
     display:inline-block ;
     justify-content:flex-start;
     background-color: rgb(5, 5, 5);
     flex-direction:column ;
     align-items: flex-start;
     width: 100%
     
 }
 .header-img {
     display:inline-block ;
     height: 30px;
     justify-content: flex-start;
     padding: 2rem;
     align-items: flex-start;
     background-color: black;
     width: 100%;
            
}

.celulares__ {
    display: flex;
    width: 100%;
    flex-direction:column;
    align-items: center ;

}

.celu_ {
    display: flex;
    height:fit-content;
    background-color: rgb(73, 180, 212);
    
}
.celulares_hijo {
 background-color: inherit
}
}



  



    

 
