/*aca va a ir el codigo css que yo necesito+/

/*esto es un comentario en css*/

/*
selector {
    propiedad1: valor;
    propiedad2: valor;
    propiedadN: valor;
}
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightskyblue;
    color: white
}

p {
    color: blue
}

.parrafo {
    color: black
}

#titulo-principal {
    font-size: 50px;
    text-align: center;
}

.colores {
    background-color: rgb(17, 185, 228);
    color: rgb(142, 19, 224);
}